.toolbar-container {
    height: 50px;
    min-height: 0;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: #5b92de;
    font-size: 14px;
}

.dropdownMenu {
    padding: 0;
    margin: 0 10px;
}

.dropdownMenu img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

span {
    font-size: 16px;
    font-weight: lighter;
    color:#c5c2c2
}

.div-user {
    margin-top: 10px;
}